.main {
    text-align: center;
}

#search {
    font-size: 18px;
}

#search label {
    font-weight: bold;
}

#search input {
    font-size: inherit;
    font-family: inherit;
}

#search button {
    font-family: inherit;
    font-size: inherit;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

#search button:hover {
    background-color: deepskyblue;
}

#weather {
    padding: 30px;
    border: 1px solid #ccc;
    width: 250px;
    margin: 10px auto auto;
    background-color: deepskyblue;
    box-shadow: 2px 2px 3px #ccc;
    color: white;
    box-sizing: border-box;
    display: none;
    font-weight: bold;
}

#weather h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}

#weatherDescription {
    float: left;
}

#weatherTemperature {
    float: right;
}

#load {
    padding: 5px;
    display: none;
}